{% extends "layout.html" %}

{% block nav %}
<li><a href="index">Home</a></li>
<li><a href="CropRecommendation">Crop</a></li>
<li><a href="FertilizerRecommendation">Fertilizer</a></li>
<li><a href="PesticideRecommendation">Pesticide</a></li>
<li><a href="feedback" class="active">Feedback</a></li>

{% endblock %}

{% block body %}
<br /><br />
<h2 style="text-align: center; margin: 0px; color: black">
  <b>Give Feedback</b>
</h2>
<h3 align="center">Give some feedback which will help us to get some more motivation to work for Indian farmers </h3>
<br />

<div
  style="
    width: 350px;
    height: 40rem;
    margin: 0px auto;
    color: black;
    border-radius: 25px;
    padding: 10px 10px;
  "
>
    <section>
            <form action="/feedback" method="POST" enctype="multipart/form-data" onsubmit="showloading()">
                <!-- <label for="w3review"></label> -->

<textarea id="given_feedback" name="given_feedback" rows="5" cols="50">
Feedback...
</textarea>
                <input type="submit" value="Submit" style="color: #c79c60; font-weight: bold;
                background-color: black;
                width: 130px; height:50px; border-radius:12px; font-size: 21px;">
            </form>
    </section>
</div>
{% endblock %}
